.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: normal;
  font-size: 60px;
  margin: 0;
  margin-bottom: 20px;
  user-select: none;
}

.game {
  box-shadow: 1px 1px 5px grey;
  width: 90%;
  margin-bottom: 20px;
}

.money {
  border: 1px solid black;
  text-align: center;
}

.value {
  font-weight: normal;
  font-size: 50px;
  margin: 0;
  padding: 0;
  user-select: none;
}

.main {
  display: flex;
  flex-direction: row;
}

.tycoons {
  border: 1px solid black;
  width: 50%;
  text-align: center;
  overflow: auto;
  height: 80vh;
}

.header {
  font-weight: normal;
  font-size: 40px;
}

.upgrades {
  border: 1px solid black;
  width: 100%;
  text-align: center;
  overflow: auto;
  height: 80vh;
}

.industry {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px;
  border-radius: 5px;
}

.selected {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px;
  border-radius: 5px;
  background-color: #EEEEEE;
}

.bottom-div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ind-header {
  font-weight: normal;
  font-size: 40px;
  user-select: none;
}

.ind-img {
  height: 70px;
  margin: 10px;
  user-select: none;
}

.click {
  background-color: red;
  color: white;
  border-color: red;
  width: 80px;
  height: 35px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.progress {
  background-color: #d3d3d3;
  height: 35px;
  width: 80%;
  margin: 10px;
}

.bar {
  width: 0%;
  height: 35px;
  background-color: #04aa6d;
}

.upgrade {
  display: flex;
  box-shadow: 1px 1px 5px grey;
  margin: 10px;
  width: 30%;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

.upgrade-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

.upgrade-title {
  font-weight: normal;
}

.upgrade-icon {
  height: 70px;
}

.upgrade-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy {
  background-color: white;
  border-color: #04aa6d;
  color: #04aa6d;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #04aa6d;
  transition: 0.2s;
  align-self: flex-end;
  margin-top: auto;
}

.buy:hover {
  background-color: #04aa6d;
  color: white;
  transition: 0.2s;
}

.bought {
  width: 100%;
  background-color: #d3d3d3;
  border: 2px solid #d3d3d3;
  font-size: 20px;
  color: grey;
  margin-top: auto;
}

.des {
  margin-top: auto;
  width: 90%;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ind-buy {
  width: 80%;
  margin-bottom: 20px;
  height: 35px;
  color: white;
  background-color: red;
  border-color: red;
  cursor: pointer;
}